.bgImg {
    height: 100vh;
    background: black 
}

.intro{
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title{
    color: whitesmoke;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px  #B8621B;
    letter-spacing: 3px;
}

.List{
    height: 100vh;
    background: black 
}

.movieList{
    aspect-ratio: 1;
    width: 200px;
    height: 200px;
}